.App {
  display: flex;
  font-size: 14px;
  flex-direction: column;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  background-color: rgb(156, 49, 49);
  padding: 10px; 
  margin: 0;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-button-add {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 15%;
  height: 3em;
}

/* .App-intro {
  font-size: large;
} */
