.App {
  display: flex;
  font-size: 14px;
  flex-direction: column;
}

p { 
  margin-bottom: 1em;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(156, 49, 49);
  padding: 10px; 
  margin: 0;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-button-add {
  border: none;
  font-size: 1.2em;
  margin-left: 30px;
  width: 15%;
  height: 3em;
}

.App-button-add:hover {
  transition: .5s background-color;
  background-color: orange;
}

