.BookItem {
    width: 43%;
    margin-top: 1em;
    border: 4px dotted rgb(0, 0, 0);
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.BookItem-booklogo {
    width: 8em;
}

.BookItem-description {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BookItem-field__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
}

.BookItem-field__author {
    font-size: 1.1em;
    margin-bottom: 0;
}

.BookItem-field__year {
    font-size: 1em;
}

.BookItem-controls {
    height: 12em;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.BookItem-btn {
    font-size: .9em;
    height: 17%;
    width: 100%;
    border: none;
    background-color: brown;
    color: white;
}

.BookItem-btn:hover {
    background-color: pink;
}

